.noHighlight {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.title {
    font-weight:100;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    white-space: nowrap;
    max-width: 100%;
    font-size: 90px;
}

h1 {
    color: white;
    font-size: 3em;
    font-weight:100;
    padding: 0px;
    text-align: center;
    margin: 0;
}

h2 {
    color: white;
    font-size: 2em;
    font-weight:100;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 15px;
    text-align: center;
    margin: 0;
}

p {
    text-align: center;
}

html,
body {
    background-color: darkslategray;
    font-family:'Courier New', Courier, monospace;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.tabText {
    text-align: center;
    font-size: 2em;
}

.tabContent {
    color: white;
    height: 100%;
}

.tab:hover {
    background-color:gray;
}

.tabSection {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.tab {
    flex-grow: 1;
    background-color:lightgreen;
    cursor: pointer;
    padding: 10px 16px;
    white-space: nowrap;
}

.pageHeaders {
    padding-top: 20px;
    padding-bottom: 20px;
}

.centered{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

table, th, td{
    border: 1px solid #009933;
}

table{
    margin-top: 20px;
}

th, td{
    padding: 5px;
}

.error{
    color:#ff3300;
    font-weight: 100;
}

label{
    display:inline-block;
    width:200px;
    margin-right:30px;
    text-align:right;
}

input{
    width:200px;
    margin-right: 100px;
}

select {
    width:208px;
    margin-right: 100px;
}

button {
    margin-left: 150px;
    margin-top: 15px;
    width: 150px;
}